.imgWrapper {
    @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md;
    position: relative;
    overflow: hidden;
    
}

.cartoonImg{
    background: url(/assets/image/img2.png);
    position: absolute;
    bottom: 0; left: 0;  right: 0; top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 10;
    background-position: 65% 0;
    background-repeat: no-repeat;

    
}

.cloud_one {
    background: url('/assets/image/cloud_1.png');
    position: absolute;
    top: 65%; left: 10%;
    width: 180px;
    height: 100px;
    background-size: contain;
    z-index: 40;
    background-repeat: no-repeat;
    
    transform: translateX(200%);
    animation: cloudAnimationOne 8.5s ease-in-out forwards infinite;
}

.cloud_two {
    background: url('/assets/image/cloud_2.png');
    position: absolute;
    top: 45%; left: 10%;
    width: 180px;
    height: 100px;
    background-size: contain;
    z-index: 40;
    background-repeat: no-repeat;
    
    /* transform: translateX(200%); */
    animation: cloudAnimationTwo 8.5s ease-in-out forwards infinite;
}


@keyframes cloudAnimationOne{
    0%{
        transform: translateX(-140%);
    }
    50%{
        transform: translateX(170%);
    }
    100%{
        transform: translateX(-140%);
    }
}

@keyframes cloudAnimationTwo{
    0%{
        transform: translateX(140%);
    }
    50%{
        transform: translateX(-170%);
    }
    100%{
        transform: translateX(140%);
    }
}


